{% extends 'layouts/navbar.twig' %}


{% block content %}

    <style>
        canvas{
            margin: 0 auto;
        }
    </style>

   

    <div class="row" style="height:25px">

    </div>

    

    <div class="row" style="height: 25px">


    </div>

    <div class="row">
        <div style="width: 10%;">
            
        </div>

        <div class="styledColumn" style="width: 80%;height:auto;">
    
            <div class="altHeader"> {{ question[1] }} </div>

            <br>
            
            <select style="text-align: center;" id="statBasis" onchange="decide()">
                <option value="monthly">Monthly</option>
                <option value="daily">Daily</option>
            </select>

            

            <br><br>
            <div id="aroundDateChoice" style="visibility: hidden;">
                Around: <br> <input type="date" id="aroundDate" onchange="setAroundDate()">
            </div>
            
            <br><br>
            <div id="chartPlace">

            </div>

            


        </div>

        <div style="width: 10%;">

        </div>

    </div>
    <div class="row" style="height:25px;">


    </div>

    <script>

        var subarrjson = '{{ submissionArr|json_encode()|raw }}';
        var submissionArr = JSON.parse(subarrjson);
        var qjson = '{{ question|json_encode()|raw }}';
        var question = JSON.parse(qjson);
    
    </script>
    
    <script src="../../../../js/checkbox/time_basis.js"></script>
{% endblock %}