{% extends 'layouts/navbar.twig' %}


{% block content %}

<body class="mybody">
    


    <div class="row" style="height:25px;">

    </div>

    <div class="row" style="height:550px;">

        <div style="width:4%;">
        
        </div>

        <div class="styledColumn" style="width:28%;padding:0px;">
            <div class="altHeader">
                Header
            </div>
        </div>

        <div style="width:4%;">

        </div>

        <div class="styledColumn" style="width:28%;">

        </div>

        <div style="width:4%;">

        </div>

        <div class="styledColumn" style="width:28%;">

        </div>

        <div style="width:4%;">

        </div>

    </div>

    <div class="row" style="height:25px;">


    </div>

</body>
{% endblock %}