{% extends 'layouts/navbar.twig' %}


{% block content %}
    <style>
        canvas{
            margin: 0 auto;
        }
    </style>

    <script>
    
        var qjson = '{{ question|json_encode()|raw }}';
        var question = JSON.parse(qjson);

        var subjson = '{{ submissionArr|json_encode()|raw }}';
        var submissionArr = JSON.parse(subjson);

        
    
    </script>


    <div class="row" style="height:25px;">


    </div>

    <div class="row">

        <div style="width:4%;">

        </div>

        <div class="styledColumn" style="width:45%;height:auto;">
            <div class="altHeader"> Single Choice Question </div>
            <canvas style="margin: 0 auto;" id="myPieChart" width="400" height="400"></canvas>
            
            <br>
        </div>

        <div style="width:2%;">


        </div>

        <div class="styledColumn" style="width:45%;height:auto;">
            <div class="altHeader"> Filters </div>
            <div style="color: black;" class="questionHeader"> {{ question[1] }} </div>


            <br><br>

            <div style="color:#dc3545;font-style: italic;">
                    Between Dates: 
            </div>

            <input type="date" id="fromDate" onchange="eliminateSubmissions()"> 
            - <input type="date" id="toDate" onchange="eliminateSubmissions()">
            
            <br><br>

            <button class="button" onclick="eliminateSubmissions()">See Chart</button>
            
        </div>
        

        
        <div style="width:4%;">

        </div>

    </div>

    <div class="row" style="height:25px;">


    </div>

    <div class="row">

        <div style="width:4%;">

        </div>


        <div class="styledColumnv2" style="width:92%;height:auto;">

            <div class="altHeaderv2">Timely Basis</div>

            <br>
            
            <select style="text-align: center;" id="statBasis" onchange="decide()">
                <option value="monthly">Monthly</option>
                <option value="daily">Daily</option>
            </select>

            

            <br><br>
            <div id="aroundDateChoice" style="visibility: hidden;">
                Around: <br> <input type="date" id="aroundDate" onchange="setAroundDate()">
            </div>
            
            <br><br>
            <div id="chartPlace">
                
            </div>

        </div>


        <div style="width:4%;">

        </div>
    </div>
    
    <div class="row" style="height:25px;">


    </div>


    <script src="../../../../js/radio/radio_index.js"></script>
{% endblock %}