<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<style>
                .secondaryFont{
                    font-family: "Circular Std Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                }


                body {font-family: Arial, Helvetica, sans-serif;}
                .modal {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%; 
                overflow: auto; 
                
                background-color: rgba(0,0,0,0.4); 
                }

                
                .modal-content {
                background-color: rgba(111,66,193,0.4);
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
                height: 80%;
                }

            
                .close {
                color: white;
                text-align: right;
                float: right;
                font-size: 28px;
                font-weight: bold;
                }

                .close:hover,
                .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
                }
                </style>
           


<style>
      .headerDiff{
        background-color: #fe8800;
      }
</style>



<style>

    
    a{
        text-decoration: none;
    }
    button{
        text-decoration: none;
    }

    .button{
        background-color: #ffc107;
        border-radius: 7px;
        color:#343a40;
        font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        transition: 0.3s;
    }

    .button:hover{
        background-color: aliceblue;
        transition: 0.3s;
        text-decoration: none;
    }

    .styledButton{
        background-color: #f8f9fa;
        border: 0px solid white;
        color:#343a40;
        font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        font-size: 20px;
        border-radius: 7px;
        transition: 0.3s;
    }
    .styledButton:hover{
        background-color: #868e96;
        color:#343a40;
        border-radius: 7px;
        text-align: left;
        transition: 0.3s;
        text-decoration: none;
    }

    .tabButton{
        background-color: #ffc107; 
        color:#6f42c1;
        border: 0px solid white;
        font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        border-radius: 7px;
        font-size: 16px;
        transition: 0.3s;

    }
    

    button:focus{
        outline: none;
    }
    a:focus{
        outline: none;
    }
</style>

<style>
    .dataTable {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    border-collapse: collapse;
    width:  500px;
    
    }

    .dataTable td, .dataTable th {
    border: 1px solid #343a40;
    padding: 8px;
    }

    .dataTable tr:nth-child(even){background-color: #868e96;}

    .dataTable tr:nth-child(odd){background-color: #f8f9fa}

    .dataTable tr:hover {background-color: #fe8800;}

    .dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #20c997;
    color: white;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
        * {
        box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-black.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        border: 2px solid darkolivegreen;
        }

        .styledColumn {
            float: left;
            padding: 0px;
            height: 300px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-radius: 4px;
            border: 2px solid #6f42c1;
            background-color: #f8f9fa;
        }

        .styledColumnv2 {
            float: left;
            padding: 0px;
            height: auto;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-radius: 4px;
            border: 2px solid #ffc107;
            background-color: #f8f9fa;
        }

        .glassColumn{
            float: left;
            padding: 0px;
            height: auto;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-radius: 4px;

        }
        /*--blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #868e96;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #868e96;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        */

        .orangecolumn {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-orange.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        border: 2px solid darkolivegreen;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }

</style>


<style>
    body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

</style>

<style>

    .firstpage{
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-orange.jpg") ;
    }


</style>

<style>
        * {
        box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .defcolumn {
        float: left;
        padding: 10px;
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-black.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        }

        .defcolumnaux {
        float: left;
        padding: 10px;
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-orange.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }

</style>



<style>
    .questionHeader{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#f38d30;
        font-style: italic;
        
    }
    .altHeader{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#ffc107;
        font-style: italic;
        background-color: #6f42c1;
        border-radius: 2px;
        font-size: 30px;
        font-weight:bold;
    }
    .altHeaderv2{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#6f42c1;
        font-style: italic;
        background-color: #ffc107;
        border-radius: 2px;
        font-size: 30px;
        font-weight:bold;
    }
    
</style>

<style>
    .formType{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:azure;
    }

</style>

<style>
    .searchStyled{
        width:400px;
        
    }

</style>

<style>
    .paragraph{
        color: #f38d30;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: italic;
        font-size:20px;
        padding: 10px;
    }
    .paragraphHeader{
        color: #dc3545;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 22px;
    }

</style>




<style>
    .mybody{
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-red.jpg");
        
    }
    .myAltBody{
        background-color: #f8f9fa;
        font-size: 20px;
    }


</style>

<style>
    .bigButton {
	background-color:#ffffff;
	border-radius:6px;

	display:inline-block;
	
	color:#666666;
	font-family:Arial;
	
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
    width:100%;
    height:90px;

    transition: 0.3s;
}
.bigButton:hover {
	text-decoration:none;
	background-color: #6f42c1;
    color:#f38d30;
    
    transition: 0.3s;
}
.bigButton:active {
	position:relative;
	top:1px;
}


</style>



<body class="myAltbody">
    {% block style %}  {% endblock %}
</body>

