<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<style>

    .button{
        background-color: #f38d30;
        border-radius: 7px;
        color:aliceblue;
        font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        
    }

    .button:hover{
        background-color: aliceblue;
        color:#f38d30;
    }
</style>

<style>
    .dataTable {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    border-collapse: collapse;
    
    }

    .dataTable td, .dataTable th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    .dataTable tr:nth-child(even){background-color: #f2f2f2;}

    .dataTable tr:nth-child(odd){background-color: grey}

    .dataTable tr:hover {background-color: #ddd;}

    .dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f38d30;
    color: white;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
        * {
        box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-black.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        }

        .orangecolumn {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-orange.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0px;
    background-image: url("https://www.jotform.com/myforms3/images/themes/tile-black.jpg");
    overflow-x: hidden;
    padding: 8px 0;
    color: #ddd;
    height: 100%;
    border-radius: 15px;
    }

    .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
    }

    .sidenav a:hover {
    color: #064579;
    }

    .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }
</style>

<style>

    .firstpage{
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-orange.jpg") ;
    }


</style>

<style>
        * {
        box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .defcolumn {
        float: left;
        padding: 10px;
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-black.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        }

        .defcolumnaux {
        float: left;
        padding: 10px;
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-orange.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }

</style>



<style>
    .questionHeader{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#f38d30;
        font-style: italic;
    }

</style>

<style>
    .formType{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:azure;
    }

</style>




















<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.slidecontainer {
width: 100%;
}

.slider {
-webkit-appearance: none;
width: 100%;
height: 25px;
background: black;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
border-radius: 4px;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: red;
cursor: pointer;
border-radius: 4px;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: red;
cursor: pointer;
border-radius: 4px;
}


</style>

<style>
.AnimationName{
background: linear-gradient(269deg, rgb(219, 195, 199),rgb(119, 118, 122), rgb(255, 255, 255));
background-size: 600% 600%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;


}

@-webkit-keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
</style>


<style>
.AnimationNav{
background: linear-gradient(269deg, rgb(0, 0, 0),rgb(255, 255, 255), rgb(231, 35, 35));
background-size: 600% 600%;

-webkit-animation: AnimationNav 30s ease infinite;
-moz-animation: AnimationNav 30s ease infinite;
animation: AnimationNav 30s ease infinite;


}

@-webkit-keyframes AnimationNav {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes AnimationNav {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes AnimationNav {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
</style>



<style>
    .mybody{
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-red.jpg");
    }

</style>


<body class="mybody">
    {% block style %}  {% endblock %}
</body>



