<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<style>
    
    a{
        text-decoration: none;
    }
    button{
        text-decoration: none;
    }

    .button{
        background-color: #ffc107;
        border-radius: 7px;
        color:#343a40;
        font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        transition: 0.3s;
    }

    .button:hover{
        background-color: aliceblue;
        transition: 0.3s;
        text-decoration: none;
    }

    .styledButton{
        background-color: #f8f9fa;
        border-radius: 0px;
        border: 0px solid white;
        color:#343a40;
        font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        font-size: 20px;
        border-radius: 7px;
        transition: 0.3s;
    }
    .styledButton:hover{
        background-color: #868e96;
        color:#343a40;
        border-radius: 7px;
        text-align: left;
        transition: 0.3s;
        text-decoration: none;
    }
    button:focus{
        outline: none;
    }
    a:focus{
        outline: none;
    }
</style>

<style>
    .dataTable {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    border-collapse: collapse;
    width:  500px;
    
    }

    .dataTable td, .dataTable th {
    border: 1px solid #343a40;
    padding: 8px;
    }

    .dataTable tr:nth-child(even){background-color: #868e96;}

    .dataTable tr:nth-child(odd){background-color: #f8f9fa}

    .dataTable tr:hover {background-color: #fe8800;}

    .dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #20c997;
    color: white;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
        * {
        box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-black.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        border: 2px solid darkolivegreen;
        }

        .styledColumn {
            float: left;
            padding: 0px;
            height: 300px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-radius: 4px;
            border: 2px solid #6f42c1;
            background-color: #f8f9fa;
        }

        .styledColumnv2 {
            float: left;
            padding: 0px;
            height: auto;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-radius: 4px;
            border: 2px solid #fe8800;
            background-color: #f8f9fa;
        }

        .glassColumn{
            float: left;
            padding: 0px;
            height: auto;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-radius: 4px;

        }
        /*--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #868e96;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #868e96;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
        */

        .orangecolumn {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-orange.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        border: 2px solid darkolivegreen;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0px;
    background-image: url("https://www.jotform.com/myforms3/images/themes/tile-black.jpg");
    overflow-x: hidden;
    padding: 8px 0;
    color: #ddd;
    height: 100%;
    border-radius: 15px;
    }

    .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
    }

    .sidenav a:hover {
    color: #064579;
    }

    .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }
</style>

<style>

    .firstpage{
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-orange.jpg") ;
    }


</style>

<style>
        * {
        box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .defcolumn {
        float: left;
        padding: 10px;
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-black.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        }

        .defcolumnaux {
        float: left;
        padding: 10px;
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-orange.jpg");
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }

</style>



<style>
    .questionHeader{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#f38d30;
        font-style: italic;
        
    }
    .altHeader{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#ffc107;
        font-style: italic;
        background-color: #6f42c1;
        border-radius: 2px;
        font-size: 30px;
        font-weight:bold;
    }
    .altHeaderv2{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#6f42c1;
        font-style: italic;
        background-color: #fe8800;
        border-radius: 2px;
        font-size: 30px;
        font-weight:bold;
    }
    
</style>

<style>
    .formType{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:azure;
    }

</style>

<style>
    .searchStyled{
        width:400px;
        
    }

</style>

<style>
    .paragraph{
        color: #f38d30;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: italic;
        font-size:20px;
        padding: 10px;
    }
    .paragraphHeader{
        color: #dc3545;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 22px;
    }

</style>





















<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.slidecontainer {
width: 100%;
}

.slider {
-webkit-appearance: none;
width: 100%;
height: 25px;
background: black;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
border-radius: 4px;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: red;
cursor: pointer;
border-radius: 4px;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: red;
cursor: pointer;
border-radius: 4px;
}


</style>

<style>
.AnimationName{
background: linear-gradient(269deg, rgb(219, 195, 199),rgb(119, 118, 122), rgb(255, 255, 255));
background-size: 600% 600%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;


}

@-webkit-keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
</style>


<style>
.AnimationNav{
background: linear-gradient(269deg, rgb(0, 0, 0),rgb(255, 255, 255), rgb(231, 35, 35));
background-size: 600% 600%;

-webkit-animation: AnimationNav 30s ease infinite;
-moz-animation: AnimationNav 30s ease infinite;
animation: AnimationNav 30s ease infinite;


}

@-webkit-keyframes AnimationNav {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes AnimationNav {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes AnimationNav {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
</style>



<style>
    .mybody{
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-red.jpg");
        
    }
    .myAltBody{
        background-color: azure;
        font-size: 20px;
    }


</style>

<style>
    .bigButton {
	background-color:#ffffff;
	border-radius:6px;

	display:inline-block;
	
	color:#666666;
	font-family:Arial;
	
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
    width:100%;
    height:90px;

    transition: 0.3s;
}
.bigButton:hover {
	text-decoration:none;
	background-color: #6f42c1;
    color:#f38d30;
    
    transition: 0.3s;
}
.bigButton:active {
	position:relative;
	top:1px;
}


</style>



<body class="myAltbody">
    {% block style %}  {% endblock %}
</body>

























<style>
        *
{
    user-select: none;
}

*:focus
{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
    margin: 0;
    background-color: #ebf3f3;
}

.brd
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#info
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #2d3667;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    background-color: #f3f9f9;
}

#app-cover
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}

#select-button
{
    position: relative;
    height: 16px;
    padding: 12px 14px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#options-view-button
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value
{
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
}

.option i
{
    width: 16px;
    height: 16px;
}

.option, .label
{
    color: #2d3667;
    font-size: 16px;
}

#chevrons
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
}

#chevrons i
{
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

#options-view-button:checked + #select-button #chevrons i
{
    color: #2d3667;
}

.options
{
    position: absolute;
    left: 0;
    width: 250px;
}

#options
{
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}

#options-view-button:checked ~ #options
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option
{
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i
{
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

#options-view-button:checked ~ #options .option i
{
    display: block;
    padding: 12px 0;
}

.label
{
    display: none;
    padding: 0;
    margin-left: 27px;
}

#options-view-button:checked ~ #options .label
{
    display: block;
    padding: 12px 14px;    
}

.s-c
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top
{
    top: 0;
}

.s-c.bottom
{
    bottom: 0;
}

input[type="radio"]
{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover ~ i
{
    color: #fff;
    opacity: 0;
}

.s-c:hover
{
    height: 100%;
    z-index: 1;
}

.s-c.bottom:hover + i
{
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i
{
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup
{
    0%{ bottom: -25px; opacity: 0;}
    100%{ bottom: 0; opacity: 1;}
}

@keyframes movedown
{
    0%{ top: -25px; opacity: 0;}
    100%{ top: 0; opacity: 1;}
}

.label
{
    transition: 0.3s ease all;
}

.opt-val
{
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val
{
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked ~ i
{
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label
{
    color:#fff;
}

.option input[type="radio"]:checked ~ .label:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val
{
    top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before
{
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val
{
    top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before
{
    background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val
{
    top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before
{
    background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val
{
    top: -111px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before
{
    background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val
{
    top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before
{
    background-color: #f48024;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val
{
    top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before
{
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val
{
    top: -231px;
}

.option .fa-codepen
{
    color: #000;
}

.option .fa-dribbble
{
    color: #ea4c89;
}

.option .fa-behance
{
    color: #0057ff;
}

.option .fa-hackerrank
{
    color: #32c766;
}

.option .fa-stack-overflow
{
    color: #f48024;
}

.option .fa-free-code-camp
{
    color: #006400;
}

#option-bg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

#options-view-button:checked ~ #options #option-bg
{
    display: block;
}

.option:hover .label
{
    color: #fff;
}

.option:nth-child(1):hover ~ #option-bg
{
    top: 0;
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg
{
    top: 40px;
    background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg
{
    top: 80px;
    background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg
{
    top: 120px;
    background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg
{
    top: 160px;
    background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg
{
    top: 200px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}



</style>
