{% extends 'css/view_features.twig' %}

{% block style %}
  <title> JotCharts </title>
  
    <style>
      .headerXX{
        background-image: url("https://www.jotform.com/myforms3/images/themes/tile-orange.jpg");
      
      }
    </style>


  <div class="headerXX">
    <br>

    <a style="text-align:center" href="#" class="pageLogo u-tooltipTrigger">
      <img style="max-width: 100%;max-height: 42px;display: block;" class="jfLogo" src="https://cdn.jotfor.ms/assets/img/logo/jotform-logo-white@2x.png" alt="logo">
    </a>

    <br>
  </div>

<!body class="AnimationName">
  <div style="text-align:center">
          {% block content %}{% endblock %}
  </div>

<!/body>




{% endblock %}

