{% extends 'css/view_features.twig' %}

{% block style %}
  <a style="text-align:center" href="#" class="pageLogo u-tooltipTrigger">
  
  <div style="background-color:rgb(0, 151, 167);" class="pageLogo-wrapper">
    <br>    
    <img style="max-width: 100%;max-height: 42px;display: block;" class="jfLogo" src="https://cdn.jotfor.ms/assets/img/logo/jotform-logo-white@2x.png" alt="logo">
    <br>
  </div></a>

<!body class="AnimationName">
  <div style="text-align:center">
          {% block content %}{% endblock %}
  </div>

<!/body>




{% endblock %}

